/* Global Styles */
:root {
  --primary-color: #862648;
  --secondary-color: rgb(255, 221, 0);
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --grey-color: #ccc;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --failure-color: rgb(196, 48, 196);
  --r3-background: rgb(196, 48, 196, 0.1);
  --repair-color: rgb(48, 196, 68);
  --analysis-color: rgb(48, 70, 196);
  --hover-color: rgb(200, 227, 252);

  --border-radius: 10px;
  --border-small-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/********** Utilities **********/
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.container-large {
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/********** Text Styles **********/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  /* margin-bottom: 1rem; */
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  /* margin-bottom: 1rem; */
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-failure {
  color: var(--failure-color);
}

.text-repair {
  color: var(--repair-color);
}

.text-analysis {
  color: var(--analysis-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/********** Padding **********/
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1-2 {
  padding-left: 0.5rem;
  padding-right: 2rem;
}

.p-top {
  padding-top: 1rem;
}

/********** Margin **********/
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/********** Alert **********/
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
  z-index: 2;
}

/********** Buttons **********/
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: var(--border-small-radius);
}

.badge {
  font-size: 0.8rem;
  /* padding: 0.1rem; */
  /* text-align: center; */
  margin: 0.1rem;
  /* background: var(--light-color); */
  /* color: #333; */
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: var(--dark-color);
  border: var(--grey-color) solid 1px;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.text-danger {
  color: var(--danger-color);
}

.text-success {
  color: var(--success-color);
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: var(--grey-color) solid 1px;
}

.btn:hover {
  opacity: 0.8;
}
.btn-light:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

.bg-light,
.badge-light {
  border: var(--grey-color) solid 1px;
}

/* Add & Edit Element Button */
.editCurrentbtn,
.addNewbtn {
  color: var(--dark-color);
  text-align: center;
  align-self: center;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.addNewbtn h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/********* Other UI **********/
.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: var(--grey-color);
  margin: 1.5rem 0;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.r3Form {
  background-color: var(--r3-background);
  border-radius: var(--border-radius);
}

.r3Engineer {
  border: 2px solid var(--failure-color);
  border-radius: var(--border-radius);
}

.technicalSupportForm {
  background-color: var(--hover-color);
  border-radius: var(--border-radius);
}

.technicalSupportEngineer {
  border: 2px solid var(--analysis-color);
  border-radius: var(--border-radius);
}

/**************** Forms *****************/
.form .form-group {
  margin: 1rem 0;
}

.form .form-group:first-child {
  margin: 0 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='datetime-local'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--grey-color);
  border-radius: var(--border-small-radius);
  background-color: white;
}

.form input[type='submit'],
button {
  font: inherit;
}

.compactView-1 {
  display: grid;
  grid-template-columns: 2fr repeat(2, 5rem) repeat(2, 7rem) 3rem;
  gap: 1rem;
  align-items: center;
}

.grid-1fr1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: top;
}

.grid-1fr2fr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: top;
}

.grid-1fr1fr1fr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: top;
}

.grid-1fr3fr {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: baseline;
}

.grid-2fr1fr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: baseline;
}

.lockField {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1rem;
  align-items: center;
}

/********** Navbar **********/
.navbar {
  display: grid;
  grid-template-columns: 75px 1fr 2fr;
  align-items: center;
  padding: 1rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  width: 100%;
  top: 0;
  border-bottom: solid 3px var(--secondary-color);
  opacity: 0.9;
}

.navbar h4 {
  color: var(--light-color);
  padding-left: 1rem;
}

.navbar ul li {
  display: inline;
  padding-left: 1rem;
}

.navbar ul {
  padding-right: 1rem;
  justify-self: end;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.logo {
  float: left !important;
}

/********** Page Title and Actions **********/
.pageHeader {
  display: grid;
  grid-template-columns: 3rem 4fr 1fr;
}

.pageHeader a {
  color: var(--dark-color);
  text-align: center;
  align-self: center;
}

.pageHeader a:hover {
  color: var(--secondary-color);
}

.pageTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
  align-items: center;
  text-align: center;
}

.pageActions {
  align-self: center;
}

/********** Card **********/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.card,
.card-nohover {
  color: var(--dark-color);
  text-align: center;
  /* align-self: center; */
  padding: 1rem;
  /* max-width: max-content; */
  border-radius: var(--border-radius);
}

.card:hover {
  background-color: var(--hover-color);
}

.r3Card {
  background-color: var(--r3-background);
  border-radius: var(--border-radius);
}

/********** Spinner **********/
.smt-spinner-circle {
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto auto;
  border-radius: 50%;
}
.smt-spinner {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  border-top: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  animation: rotate--spinner 1.6s infinite;
}

@keyframes rotate--spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/********** Landing **********/
.landing {
  position: relative;
  background: url('./img/cems_background06.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
}

/********** Machine **********/
.machine-card {
  display: grid;
  /* grid-template-columns: 1fr 1fr ; */
  grid-template-areas:
    'machine-machineNumber      machine-machineNumber'
    'machine-dfa                machine-dfa'
    'machine-qualityNumber      machine-qualityNumber'
    'machine-spacer1            machine-spacer1'
    'machine-designationCN      machine-designationCN'
    'machine-designation        machine-designation'
    'machine-afa                machine-afa'
    'machine-category           machine-category'
    'machine-department         machine-department'
    'machine-location           machine-location'
    'machine-manufacturer-label machine-manufacturer-value'
    'machine-manufacturerCN-label machine-manufacturerCN-value'
    'machine-spacer2             machine-spacer2'
    'machine-model-label        machine-model-value'
    'machine-sn-label           machine-sn-value'
    'machine-manuDate-label     machine-manuDate-value'
    'machine-acquDate-label     machine-acquDate-value'
    'machine-retiredDate-label     machine-retiredDate-value'
    'machine-investment-label   machine-investment-value'
    'machine-costCenter-label   machine-costCenter-value'
    'machine-price-label        machine-price-value'
    'machine-comment            machine-comment'
    'machine-img                machine-img';
}

.machine-machineNumber {
  grid-area: machine-machineNumber;
}

.machine-dfa {
  grid-area: machine-dfa;
}

.machine-qualityNumber {
  grid-area: machine-qualityNumber;
}

.machine-designationCN {
  grid-area: machine-designationCN;
}

.machine-designation {
  grid-area: machine-designation;
}
.machine-afa {
  grid-area: machine-afa;
}

.machine-category {
  grid-area: machine-category;
}

.machine-department {
  grid-area: machine-department;
}

.machine-location {
  grid-area: machine-location;
}

.machine-manufacturer-label {
  grid-area: machine-manufacturer-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-manufacturer-value {
  grid-area: machine-manufacturer-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-manufacturerCN-label {
  grid-area: machine-manufacturerCN-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-manufacturerCN-value {
  grid-area: machine-manufacturerCN-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-model-label {
  grid-area: machine-model-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-model-value {
  grid-area: machine-model-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-sn-label {
  grid-area: machine-sn-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-sn-value {
  grid-area: machine-sn-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-manuDate-label {
  grid-area: machine-manuDate-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-manuDate-value {
  grid-area: machine-manuDate-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-acquDate-label {
  grid-area: machine-acquDate-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-acquDate-value {
  grid-area: machine-acquDate-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-retiredDate-label {
  grid-area: machine-retiredDate-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-retiredDate-value {
  grid-area: machine-retiredDate-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-investment-label {
  grid-area: machine-investment-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-investment-value {
  grid-area: machine-investment-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-costCenter-label {
  grid-area: machine-costCenter-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-costCenter-value {
  grid-area: machine-costCenter-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-price-label {
  grid-area: machine-price-label;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-price-value {
  grid-area: machine-price-value;
  text-align: start;
  border-bottom: var(--grey-color) 1px dotted;
}

.machine-comment {
  grid-area: machine-comment;
}

.machine-img {
  grid-area: machine-img;
}

.machine-spacer1 {
  grid-area: machine-spacer1;
  margin: 1rem;
  border-top: var(--grey-color) 1px solid;
}

.machine-spacer2 {
  grid-area: machine-spacer2;
  margin: 1rem;
  border-top: var(--grey-color) 1px solid;
}

/********** Department **********/
.department-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'department-trigram    department-trigram'
    'department-name       department-name'
    'department-location   department-location'
    'department-ownerLabel department-owners';
}

.department-trigram {
  grid-area: department-trigram;
  height: max-content;
}

.department-name {
  grid-area: department-name;
  padding-top: 1rem;
  min-height: 5rem;
  border-top: #862648 2px solid;
}

.department-location {
  grid-area: department-location;
  min-height: 2rem;
  border-bottom: var(--grey-color) 1px solid;
  margin-bottom: 5px;
}

.department-ownerLabel {
  grid-area: department-ownerLabel;
  /* color: var(--grey-color); */
}

.department-owners {
  grid-area: department-owners;
  min-height: 2rem;
}

/********** Profile **********/
.profile-card {
  display: grid;
  grid-template-areas:
    'profile-avatar'
    'profile-name'
    'profile-cta';
  max-width: -moz-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.profile-avatar {
  grid-area: profile-avatar;
  margin-top: 10%;
}

.profile-name {
  grid-area: profile-name;
  padding: 1rem;
}

.profile-cta {
  grid-area: profile-cta;
}

/********** Location **********/
.location-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'location-initials'
    'location-name'
    'location-letter'
    'location-floor';
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.location-letter {
  grid-area: location-letter;
}

.location-initials {
  grid-area: location-initials;
}

.location-name {
  grid-area: location-name;
}

.location-floor {
  grid-area: location-floor;
}

/********** Manufacturer **********/
.manufacturer-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'manufacturer-name'
    'manufacturer-nameCN ';
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.manufacturer-name {
  grid-area: manufacturer-name;
}

.manufacturer-nameCN {
  grid-area: manufacturer-nameCN;
}

/********** Investment **********/
.investment-card {
  display: grid;
  grid-template-areas:
    'investment-investmentnumber investment-investmentnumber'
    'investment-name             investment-name'
    'investment-price-label      investment-price'
    'investment-quantity-label   investment-quantity'
    'investment-approved-label   investment-approved'
    'investment-completed-label  investment-completed';
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.investment-investmentnumber {
  grid-area: investment-investmentnumber;
}
.investment-name {
  grid-area: investment-name;
}
.investment-price-label {
  grid-area: investment-price-label;
}
.investment-quantity-label {
  grid-area: investment-quantity-label;
}
.investment-approved-label {
  grid-area: investment-approved-label;
}
.investment-completed-label {
  grid-area: investment-completed-label;
}
.investment-price {
  grid-area: investment-price;
}
.investment-quantity {
  grid-area: investment-quantity;
}
.investment-approved {
  grid-area: investment-approved;
}
.investment-completed {
  grid-area: investment-completed;
}

/********** Category **********/
.category-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'category-code category-trigram'
    'category-description category-description'
    'category-descriptionCN category-descriptionCN';
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.category-code {
  grid-area: category-code;
}
.category-trigram {
  grid-area: category-trigram;
}

.category-description {
  grid-area: category-description;
}
.category-descriptionCN {
  grid-area: category-descriptionCN;
}

/********** Failure, Repair and Analysis Codes **********/
.code-card {
  display: grid;
  /* grid-template-columns: 1fr 1fr 3fr 2fr ; */
  grid-template-areas:
    'code-codeNumber code-name '
    'code-description  code-description'
    'code-descriptionCN code-descriptionCN ';
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.code-codeNumber {
  grid-area: code-codeNumber;
}
.code-name {
  grid-area: code-name;
}

.code-description {
  grid-area: code-description;
}
.code-descriptionCN {
  grid-area: code-descriptionCN;
}

/*********************************/
/**********  Upload Box **********/
/*********************************/

.upload-wrapper {
  display: flex;
  border: 1px solid var(--grey-color);
  border-radius: var(--border-small-radius);
}

.upload-box {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 100%;
}

.img-wrp {
  position: relative;
}

.img-wrp img {
  object-fit: scale-down;
  max-height: 10rem;
}

.img-wrp p {
  color: gray;
  cursor: pointer;
}

.img-wrp:hover p {
  color: var(--danger-color);
  opacity: 1;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: gray;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
  outline: -webkit-focus-ring-color auto 5px;
  outline: 1px dotted #000;
  color: var(--primary-color);
}

.inputfile + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile:focus + label figure,
.inputfile.has-focus + label figure,
.inputfile + label:hover figure {
  background-color: var(--primary-color);
}

.inputfile + label svg {
  width: 100%;
  height: 100%;
  fill: white;
}

/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
/* https://medium.com/@castlevania_jorge/how-to-make-dropzone-with-only-javascript-react-and-css-cb36f05e3c0c */
/* https://codesandbox.io/s/admiring-engelbart-3i0hu?fontsize=14&hidenavigation=1&theme=dark&file=/src/Dropzone.js:2078-2133 */

/*****************************************/
/**********  Split View Layout **********/
/*****************************************/

.viewPageSplit1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'view-left view-right';
  grid-gap: 1rem;
}

.viewPageSplit2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 'view-left view-right';
  grid-gap: 1rem;
}

.view-left {
  grid-area: view-left;
}

.view-right {
  grid-area: view-right;
}

/*****************************************/
/**********  Tabular Layout **********/
/*****************************************/
/* @media screen and (min-width: 737px) { */
/* The maximum column width, that can wrap */
.item-container {
  /* this class should be combined with a .item-container-x to grid-template-columns */
  display: grid;
  border-right: var(--grey-color) 1px solid;
  color: var(--dark-color);
}

.item-container-3 {
  grid-template-columns: 2rem 2rem 1fr;
}
.item-container-4 {
  grid-template-columns: 2rem 2rem 1fr 1fr;
}
.item-container-4b {
  grid-template-columns: 2rem 1fr 1fr 1fr;
}
.item-container-5 {
  grid-template-columns: 2rem 5rem 1fr 1fr 1fr;
}
.item-container-left-5 {
  grid-template-columns: 5rem 2fr 2fr 1fr 2rem;
}
.item-container-6,
.item-container-categories {
  grid-template-columns: 2rem 2rem 5rem 5rem 1fr 1fr;
}
.item-container-department {
  grid-template-columns: 2rem 2rem 1fr 2fr 2fr 1fr 2fr;
}
.item-container-investment {
  grid-template-columns: 2rem 2rem 2fr 4fr 2fr 2fr 7rem 7rem;
}
.item-container-technicalsupport {
  grid-template-columns: 2rem 2rem 6rem 4rem 1fr 6rem 4rem 6rem;
}
.item-container-r3 {
  grid-template-columns: 2rem 2rem 5rem 6rem repeat(2, 3fr) repeat(2, 6rem) 3rem;
}
.item-container-machines {
  grid-template-columns: 2rem 2rem repeat(13, 1fr);
}
.item-container-18 {
  grid-template-columns: 2rem 2rem repeat(16, 1fr);
}

.attribute-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--column-width-min), var(--column-width-max))
  );
}

/* Definition of wrapping column width for attribute groups. */

/* .equ-qua {
    --column-width-min: 5rem;
    --column-width-max: 1fr;
  }

  .designation-designationCN {
    --column-width-min: 10rem;
    --column-width-max: 1fr;
  }

  .afa-rfa {
    --column-width-min: 2rem;
    --column-width-max: 1fr;
  }

  .manufacturer {
    --column-width-min: 6rem;
    --column-width-max: 2fr;
  }
  .category {
    --column-width-min: 5rem;
    --column-width-max: 1fr;
  }
   .department {
    --column-width-min: 5rem;
    --column-width-max: 1fr;
  }

  .investment-date {
    --column-width-min: 5rem;
    --column-width-max: 1fr;
  }  */

/* In order to maximize row lines, only display one line for a cell */
.attribute {
  border-bottom: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5rem;
}

/* First row is header */
.table-grid-container > .item-container:first-child {
  background-color: var(--dark-color);
  /* border-right: 1px var(--dark-color) solid; */
  border-bottom: 2px var(--secondary-color) solid;
  color: var(--light-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.item-container:hover {
  background-color: var(--hover-color);
}

.pointerHover:hover {
  cursor: pointer;
}

/* Center header labels */
.table-grid-container > .item-container:first-child .attribute {
  border: none;
  border-bottom: 1px var(--grey-color) solid;
}

/* center items in their column with only an icon from fontawesome */
.table-grid-container .item-container .attribute .fa-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}

/************************************/
/********** Mobile Styles  **********/
/************************************/

@media screen and (max-width: 736px) {
  .logo {
    float: left !important;
  }

  .item-container {
    /* this class should be combined with a .item-container-x to grid-template-columns */
    display: grid;
    border-right: var(--grey-color) 1px solid;
    color: var(--dark-color);
  }

  .item-container-r3 {
    grid-template-columns: 2rem 2rem 5rem 1fr 2rem;
  }

  .item-container-department {
    grid-template-columns: 2rem 2fr 1fr 2fr;
  }

  .item-container-categories {
    grid-template-columns: 2rem 3rem 3rem 1fr 1fr;
  }

  .item-container-investment {
    grid-template-columns: 2rem 5rem 1fr 2rem;
  }

  .item-container-machines {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-areas:
      'attribute-machine-open attribute-machine-equ'
      'attribute-machine-designationCN attribute-machine-designationCN'
      'attribute-machine-designation attribute-machine-designation';
    margin-bottom: 1rem;
    border-top: 1px solid var(--grey-color);
  }
  .attribute-machine-equ {
    grid-area: attribute-machine-equ;
  }
  .attribute-machine-designationCN {
    grid-area: attribute-machine-designationCN;
  }
  .attribute-machine-designation {
    grid-area: attribute-machine-designation;
  }

  /* Don't display the first item, since it is used to display the header for tabular layouts*/
  .table-grid-container > li:first-child {
    display: none;
  }
  .table-grid-container > li:nth-child(2) {
    border-top: 1px solid var(--grey-color);
  }

  /* Attribute name for first column, and attribute value for second column. */
  .attribute {
    border-bottom: 1px solid var(--grey-color);
    border-left: 1px solid var(--grey-color);
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
    /* font-size: 0.9rem; */
  }

  /********** Profile **********/
  .profile-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      'profile-avatar profile-name'
      'profile-avatar profile-team'
      'profile-avatar profile-admin';
  }

  .profile-avatar {
    grid-area: profile-avatar;
  }
  .profile-name {
    grid-area: profile-name;
  }
  .profile-team {
    grid-area: profile-team;
  }
  .profile-admin {
    grid-area: profile-admin;
  }

  /* Hide on small screen */
  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Avatar */
  .sb-avatar {
    margin-top: -0.3rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: right;
  }

  .navbar ul {
    margin-top: 1rem;
  }

  .viewPageSplit1,
  .viewPageSplit2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      'view-left'
      'view-right';
    grid-gap: 4rem;
  }

  .alert-wrapper {
    position: fixed;
    top: 6rem;
    left: 2rem;
    display: inline-block;
  }

  /* R3 Form */

  .compactView-1 {
    grid-template-columns: 1fr;
  }

  .grid-1fr2fr {
    grid-template-columns: 1fr;
  }

  .grid-1fr1fr1fr {
    grid-template-columns: 1fr;
  }
}
