/* Global Styles */
:root {
  --primary-color: #862648;
  --secondary-color: rgb(255, 221, 0);
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --failure-color: rgb(196, 48, 196);
  --repair-color: rgb(48, 196, 68);
  --analysis-color: rgb(48, 70, 196);
  --border-radius: 10px;
  --border-small-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-failure {
  color: var(--failure-color);
}

.text-repair {
  color: var(--repair-color);
}

.text-analysis {
  color: var(--analysis-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: var(--border-small-radius);
}

.badge {
  font-size: 0.8rem;
  /* padding: 0.1rem; */
  /* text-align: center; */
  margin: 0.1rem;
  /* background: var(--light-color); */
  /* color: #333; */
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: var(--dark-color);
  border: #ccc solid 1px;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}
.btn-light:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: var(--border-small-radius);
}

.form input[type='submit'],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 3px var(--secondary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/cems_background06.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Add new Element Button */
.addNewbtn {
  color: var(--dark-color);
  text-align: center;
  align-self: center;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.addNewbtn h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Departments Page */
.departments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.departments-grid-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    '...............       department-trigram    card-button-more'
    'department-name       department-name       department-name'
    'department-location   department-location   department-location'
    'department-ownerLabel department-owners     department-owners';
  padding: 1rem;
  border-radius: var(--border-radius);
}

.department-trigram {
  grid-area: department-trigram;
  height: max-content;
  text-align: center;
}
.card-button-more {
  grid-area: card-button-more;
  text-align: center;
  align-self: center;
}

.department-name {
  grid-area: department-name;
  text-align: center;
  padding-top: 1rem;
  min-height: 5rem;
  border-top: #862648 2px solid;
}

.department-location {
  grid-area: department-location;
  text-align: center;
  min-height: 4rem;
  border-bottom: #ccc 1px solid;
  margin-bottom: 5px;
}

.department-ownerLabel {
  grid-area: department-ownerLabel;
  color: var(--text-primary);
  align-self: center;
  color: grey;
}

.department-owners {
  grid-area: department-owners;
  min-height: 2rem;
  text-align: center;
  padding-left: 2%;
}

/* Department */
.department-grid {
  max-width: fit-content;
}

/* Profiles Page */
.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.profiles-grid-item {
  display: grid;
  grid-template-areas:
    'profile-avatar'
    'profile-name'
    'profile-cta';
  padding: 1rem;
  align-items: center;
  border-radius: var(--border-radius);
}

.profiles-grid-item h3 {
  text-align: center;
}

.profile-avatar {
  grid-area: profile-avatar;
  text-align: center;
  margin-top: 10%;
}

.profile-name {
  grid-area: profile-name;
  text-align: center;
  padding: 1rem;
}

.profile-cta {
  grid-area: profile-cta;
  text-align: center;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'profile-info profile-departments';
  grid-gap: 4rem;
}

.profile-info {
  grid-area: profile-info;
}

.profile-departments {
  grid-area: profile-departments;
}

/* Locations Page */
.locations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.locations-grid-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    '. location-initials card-button-more'
    'location-name location-name location-name'
    'location-letter location-letter location-letter'
    'location-floor location-floor location-floor';
  padding: 1rem;
  border-radius: var(--border-radius);
}

.location-letter {
  grid-area: location-letter;
  text-align: center;
}

.location-initials {
  grid-area: location-initials;
  text-align: center;
}

.location-name {
  grid-area: location-name;
  text-align: center;
}

.location-floor {
  grid-area: location-floor;
  text-align: center;
}

.location-grid {
  max-width: fit-content;
}

/* Categories Page */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.categories-grid-item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
    'category-code category-trigram card-button-more'
    'category-description category-description category-description'
    'category-descriptionCN category-descriptionCN category-descriptionCN';
  padding: 1rem;
  border-radius: var(--border-radius);
  align-items: center;
}

.category-code {
  grid-area: category-code;
  text-align: center;
}
.category-trigram {
  grid-area: category-trigram;
  text-align: center;
}

.category-description {
  grid-area: category-description;
  text-align: center;
}
.category-descriptionCN {
  grid-area: category-descriptionCN;
  text-align: center;
}

.category-grid {
  max-width: fit-content;
}

/* Codes Page */
.codes {
  border: 1px #ccc solid;
}

.codes-grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 2fr 1fr;
  grid-template-areas: 'code-codeNumber code-name code-description  code-descriptionCN card-button-more';
  align-items: center;
}

.code-codeNumber {
  grid-area: code-codeNumber;
  text-align: center;
}
.code-name {
  grid-area: code-name;
}

.code-description {
  grid-area: code-description;
}
.code-descriptionCN {
  grid-area: code-descriptionCN;
}

.code-grid {
  /* max-width: fit-content; */
}

/* Mobile Styles */

@media (min-width: 700px) {
  .hide-bg {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 9rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Avatar */
  .sb-avatar {
    margin-top: -0.3rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  .locations {
    grid-template-columns: 1fr;
  }

  .profiles {
    grid-template-columns: 1fr;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'profile-info'
      'profile-departments';
  }
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}
